<html>
  <head>
    <style type="text/css">
      body {
        background: #5F249F;
        color: white;
      }
      div.container {
        max-width: 500px;
        margin: 100px auto;
        border: 20px solid white;
        padding: 10px;
        text-align: center;
      }
      h4 {
        text-transform: uppercase;
      }
    </style>
  </head>
  <body>
   <div class="container">
      <h4>Welcome to DXC RedRock Docker Container<br/>A Python Flask App deployed using Docker Image and kick start container</h4>
      
    </div>
    <div style="margin: 0 auto;text-align: center;">
      <h1 style="font-weight:bold"></h1>
      <p style="text-align:left;padding-left: 10px;">DevOps with Cloud proves to be a perfect match. DevOps and cloud-based delivery models are a great starting point to offer speed and agility to businesses.</p>
      <p style="text-align:left;padding-left: 10px;">The practice of DevOps encourages smoother, continuous communication, collaboration, integration, visibility, and transparency between application development teams (Dev) and their IT operations team (Ops) counterparts.03/11</p>
      
      

  </div>
  
  </body>
</html>
