<html>
  <head>
    <style type="text/css">
      body {
        background: #5F249F;
        color: white;
      }
      div.container {
        max-width: 500px;
        margin: 100px auto;
        border: 20px solid white;
        padding: 10px;
        text-align: center;
      }
      h4 {
        text-transform: uppercase;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h4>Welcome to DXC RedRock Docker Container, The Python Flask App deployed using Docker Image and kick start container</h4>
      
    </div>
    <div style="margin: 0 auto; text-align: center; width: 50%;">
      Red Centre Company Details
        <table style="border: 1px solid white;">
          <thead>
              <tr>
                 <th style="border: 1px solid white;">Company</th>
                 <th style="border: 1px solid white;">Country</th> 
                <th style="border: 1px solid white;">Industry</th>
              </tr>
          </thead>
          <tbody>
            {% for result in company["result"] %}
              {% block content %}
              {% if {{result["u_current_support_customer"]}} == "true" %}
              <tr>
                <td style="border: 1px solid white;padding-left:10%">{{result["name"]}}<//td>
                <td style="border: 1px solid white;text-align:center">{{result["country"]}}<//td>
                <td style="border: 1px solid white;padding-left:3%">{{result["u_csc_industry"]}}</td>
              {% endif %}
              {% endblock content %}
           {% endfor %}
              </tr>  
          </tbody>
      </table>
        
    </div>  
  </body>
</html>
